body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,112,220,1) 34%, rgba(0,212,255,1) 100%);
}

h1{
    text-align: center;

}

h3{
    
    text-align: center;

}

